<h2>Regístrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :rut %><br />
    <%= f.text_field :rut, autocomplete: "off" %></div>

  <% pass = Devise.friendly_token.first(20) %>

  <%= f.hidden_field :password, :value => pass %>
  <%= f.hidden_field :password_confirmation, :value => pass %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
