<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Money4me, <%= @user.name %></h1>
    <p>
      Se ha creado una cuenta de Empresa para el email
      <%= @user.email %>. Su constraseña temporal es: <%= @password %>.
      Recuerde cambiarla en su primer ingreso.<br>
    </p>
    <p>
      La empresa asociada a esta cuenta es
      <ul>
        <li>Nombre: <%= @user.empresa.nombre %></li>
        <li>RUT Empresa: <%= @user.empresa.rut_empresa %></li>
        <li>Cuenta: <%= @user.empresa.cuenta_banco %></li>
      </ul>
    </p>
    <p>
      Recuerde que su cuenta se encuentra inactiva hasta ser validada por un administrador. Esto puede tardar algunas horas. Para ingresar al sitio como empresa una vez recibido el correo de activación, sigue el siguiente link: <%= @url %>.
    </p>
    <p>Gracias por preferirnos.</p>
  </body>
</html>